@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --green-dark: #70da1c;
  --green-light: #ccf235;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media screen and (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

/*Menu*/
nav {
  max-width: 1220px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0px 10px 0px 30px;
}

nav ul li a {
  font-size: 18px;
  color: #000;
  display: flex;
  flex-direction: column;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--green-dark);
  transition: 0.8s;
}

nav ul li a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  ul {
    margin-top: 40px;
  }

  ul li a {
    background-color: rgb(236, 236, 236);
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  ul li a:hover {
    background-color: rgb(209, 207, 207);
  }

  ul li a:hover::after {
    width: 0%;
  }
}

@media screen and (max-width: 425px) {
  ul li {
    margin: 0px 5px 0px 10px;
  }

  ul li a {
    background-color: rgb(236, 236, 236);
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}

/*HOME*/

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-top: 60px;
  gap: 100px;
}

@media screen and (max-width: 768px) {
  .info {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .info {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.info img {
  max-width: 363px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 375px) {
  .info img {
    display: none;
  }
}

h1 {
  font-size: 4.5rem;
  position: relative;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
}

h1::before {
  content: url("../img/detalhe.svg");
  position: absolute;
  left: -46px;
  top: -32px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  h1::before {
    content: "";
    width: 30px;
    height: 10px;
    background: var(--green-dark);
    position: absolute;
    left: 2px;
    top: -10px;
  }
}

/*Experiencia*/

.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-text {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-text strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  margin-top: 50px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  width: 80px;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media screen and (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

/*Formacao*/
.formacao {
  background: #141414;
  color: #ffff;
}

.formacao-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 120px 20px;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.formacao-texto strong {
  color: #ffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #ffffff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}

/*Footer*/

.footer {
  background: #000000;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 120px 20px 60px 20px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
  font-size: 2.25rem;
}



.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media screen and (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}
